<template>
  <q-page padding>
    <div class="q-pa-md" style="max-width: 400px">
      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <!-- <q-input
          filled
          v-model="Nname"
          name="Nname"
          label="กรุณาใส่รายละเอียดข่าวสาร"
          hint="ข้อมูล"
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Please type something']"
        />-->
        <q-input
          @input="
            val => {
              file = val[0];
            }
          "
          filled
          type="file"
          hint="Native file"
        />
        <div>
          <q-btn label="Submit" type="submit" color="primary" />
          <q-btn
            label="Reset"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      Nname: ""
    };
  },
  // name: 'PageName',
  methods: {
    // onSelect(e) {
    //   this.file = e.target.files[0];
    // },
    onSubmit() {
      let formData = new FormData();
      formData.append("file", this.file);
      console.log(formData);
      console.log(this.file);
      this.$axios
        .post("http://localhost/slimdb/public/api/submitnews", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          console.log("response: ", response.data);
        });
    },
    onReset() {
      this.Nname = null;
      this.Path = null;
    }
  }
};
</script>
