<template>
  <q-page padding>
    <div class="q-pa-md" style="max-width: 400px">
      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <q-select filled v-model="department" multiple :options="options" />

        <q-input
          filled
          v-model="name"
          label="กรุณาใส่ชื่อและนามสกุลของคุณ"
          hint="ชื่อและนามสกุล"
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Please type something']"
        />

        <q-input v-model="description" filled type="textarea" />

        <div>
          <q-btn label="Submit" type="submit" color="primary" />
          <q-btn
            label="Reset"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data() {
    const options = [];
    for (let i = 0; i <= 100; i++) {
      options.push("Opt " + i);
    }
    return {
      options: Object.freeze(options),

      name: null,
      department: null,
      description: null
    };
  },

  methods: {
    onSubmit() {
      if (this.accept !== true) {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "warning",
          message: "You need to accept the license and terms first"
        });
      } else {
        this.$q.notify({
          color: "green-4",
          textColor: "white",
          icon: "cloud_done",
          message: "Submitted"
        });
      }
    },

    onReset() {
      this.name = null;
      this.department = null;
      this.description = null;
    }
  }
};
</script>
